
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

#logo_bar{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-family: 'Gugi', cursive;
    text-align: center;
    margin-top:25px;
}
#logo{
    margin-top: -24px;
    width: 50px;
    height: 50px;
    float:inline-start;
    vertical-align: middle;
}
span{
    margin-top: 150px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-family: 'Gugi', cursive;   
}
a { 
    text-decoration:none;
    color: black;
 } 
hr{
    height:10px;
    border:0;
    box-shadow: 0 10px 10px -10px #bbb inset;
}
li{
    font-size:50px;
}
@media (max-width:600px){ /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    li{
        font-size:30px;
    }
    #logo_bar {
        display: block;    
    }

    #logo_bar #logoword {  
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        font-family: 'Gugi', cursive;
    }
    #logo {
       margin-top:-10px;
        width: 40px;
        height: 40px;
        float:inline-start;
    }
    

}